# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
PORT=8080
HOST=localhost
ENV=local
ACCESS_SECRET=09d25e0sas4faa6c52gf6c818166b7a9563b93f7sdsdef6f0f4caa6cf63b88e8d3e7
REFRESH_SECRET=09d25e0sas4ffa6d54fx18166b7a3sd57gb93df7sdsdef6f0f4caa6cjfg688e8d3e8
LOGS_FORMAT=json
LOGS_LEVEL=info
LOGS_DIRECTORY=logs
LOGS_NAME=echo
LOGS_LOCAL=true

# -----------------------------------------------------------------------------
# Admin User Details
# -----------------------------------------------------------------------------
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123

# -----------------------------------------------------------------------------
# Database 
# -----------------------------------------------------------------------------
DB_HOST=db
DB_PORT=5432
DB_NAME=marina_dev
DB_USER=postgres
DB_PASSWORD=postgres
DB_SCHEMA=public

# -----------------------------------------------------------------------------
# Test Database 
# -----------------------------------------------------------------------------
TEST_DB_HOST=test_db
TEST_DB_PORT=5433
TEST_DB_NAME=marina_test
TEST_DB_USER=postgres
TEST_DB_PASSWORD=postgres
TEST_DB_SCHEMA=public

# Auth
# -----------------------------------------------------------------------------
LOGIN_ATTEMPTS=6
LOCKOUT_DURATION=30

# -----------------------------------------------------------------------------
# S3 Storage
# -----------------------------------------------------------------------------
AWS_REGION=aws_region
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_S3_BUCKET=bucket_name
AWS_S3_BASE_URL=https://media-bucket-name.s3.amazonaws.com